---
title: About Lucy
heading: Meet Lucy
subtitle: 
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">
				Lucy Tasker
			</h3>
			<h2 class="editable">
				Graphic Designer & Copywriter
			</h2>			
			<p class="editable">
				A Snapshot:
				<li>10+ years of design & marketing experience</li>
				<li>Experience working across many industries from start-ups to large international brands</li>
				<li>Facebook Certified Digital Marketing Associate</li>
			</p>
			<p class="editable">
				<a href="/portfolio/">View Full Portfolio &rarr;</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>