---
title: Little Spoon
---
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@600&display=swap" rel="stylesheet">
<section class="hero diagonal">
	<div class="container" style="margin-bottom:-80px">
		<h2 class="editable">
			Design that makes a good impression.
		</h2>
		<p class="subtext editable">
			We offer graphic design and copywriting solutions for your business.
		</p>
		<p><a class="button alt" style="font-size: 0.9em; padding: 7px 18px" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">
				Let's get creative.
			</h3>
			<p class="editable">
				I have a proven track record of helping businesses of any size grow and prosper through beautiful design. My focus is in branding and marketing, working both with existing brand guidelines, creating brand guidelines, as well as smaller individual projects. This dual speciality enables me to produce work for your audience that is going to be effective in reaching your goals. <br>Having worked in the print industry, I have produced printed media for a wide range of industries, and have extensive knowledge of print techniques and technicalities. Brochures, flyers, booklets, printed advertising, magazine design, and much more. As well as this, I have experience working in social media and digital design, to ensure your digital presence also aligns with your brand.
			</p>
			<p class="editable">
				<a href="/portfolio/">View Full Portfolio &rarr;</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 0 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container" style="margin-bottom:-80px">
		<div>
			<h3 class="editable">
				Testimonial
			</h3>
			<p class="editable">
				"Lucy helped us to develop a brand that helped us to use across all of our visual marketing; including a banner, posters, flyers and numerous other visuals. Through all of this she was very <strong>reliable, very prompt, and efficient</strong> and was happy to make the many small changes we required as plans evolved. <strong>I would happily and easily recommend Lucy for any visual design project.</strong>"<br /><br />-Scott Smith,&nbsp;<em>King Country Christmas</em>
			</p>
		</div>
	</div>
</section>
