---
title: Little Spoon
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">
			Design that makes a good impression.
		</h2>
		<p class="subtext editable">
			We offer Graphic Design and Copywriting solutions for your business.
		</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">
				What we do.
			</h3>
			<p class="editable">
				We take pride in our previous work and our happy customers. We cater to any sector to boost business and increase exposure.
			</p>
			<p class="editable">
				<a href="/portfolio/">View Full Portfolio &rarr;</a>
			</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}" /></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
		<div>
			<h3 class="editable">
				
			</h3>
			<p class="editable">
				"Lucy helped us to develop a brand that helped us to use across all of our visual marketing; including a banner that was erected across our main street, posters, flyers and numerous other visuals we required for display on the big screen on the night of the event. Through all of this she was very reliable, very prompt, and efficient and was happy to make the many small changes we required as plans evolved. I would happily and easily recommend Lucy for any visual design project."<br /><br />-Scott Smith,&nbsp;<em>King Country Christmas</em>
			</p>
		</div>
	</div>
</section>
